/* hide properties view in reading view/mode */

.hide-metadata {
    --metadata-display-reading: none; 
}

/* source view and live preview */    
/* .markdown-source-view.mod-cm6 .cm-line {
    text-align: justify;
    text-justify: inter-word;
} */
